<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dawoon LIM">

		<link rel="shortcut icon" type="image/x-icon" href="./img/tree.ico">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="./img/tree-128x128.png">
    <title>Tree</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="./css/lib/bootstrap-3.2.0.min.css" />
		<link rel="stylesheet" type="text/css" href="./css/lib/bootstrap-theme-3.2.0.min.css" />

    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="./css/tree_common.css" />
    <link rel="stylesheet" type="text/css" href="./css/explore.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./js/lib/html5shiv.js"></script>
      <script src="./js/lib/respond.min.js"></script>
    <![endif]-->
    
  </head>

  <body>
    <input type="hidden" id= "data_group_list" value="<%= group_list %>"/>
    <input type="hidden" id= "data_group_list_count" value="<%= group_list_count %>"/>
    <!--navbar  -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="./img/tree-128x128.png" class="logo">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/explore">Explore</a></li>
            <li>
              <!-- Search Bar -->
              <form id="search-form" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form><!-- /Search Bar -->
            </li>
          </ul>
          
          
          <!-- Setting DropDown Nav Menu -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/loginForm">Login</a></li>
          <!--   
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Copyright</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
           -->
          </ul>
           
        </div><!--/.navbar-collapse -->
      </div>
    </div><!-- /navbar -->
    
    
    
    <div class="container">
      <div class="row">
        <!-- group list -->
        <div class="col-xs-12 col-md-8">
          <br/><br/>
          <ul id="group_list" class="list-unstyled">
            <!-- group list item  -->
            <!-- <li class="row">
              <div class="col-xs-4 col-md-2 ">
                <img src="./img/tree-128x128.png" class="img-responsive">
              </div>
              <div class="col-xs-8 col-md-10 ">
                <h3>group<small><p class="text-right"><i class="fa fa-users"></i> 12</p></small></h3>
                <h3>group<p class="text-right"><i class="fa fa-users"></i>12</p></h3> 
                <small>hello this group is sample</small>
              </div>
            </li> --> <!-- group list item  -->
    
          </ul>  
        </div><!-- /group list -->
        
        <!-- right fixed image -->
        <div class="col-xs-12 col-md-4">
          <div class="panel panel-default fixed">
            <div class="panel-body">
              <br/><br/><br/>
              <a href="/loginForm">
                <img src="./img/explore_signup_img.jpg" class="img-responsive"/>
              </a>
            </div>
          </div>
        </div><!-- /right fixed image -->
      </div>
      <hr>
      <footer>
        <p>&copy; Company 2015</p>
      </footer>
    </div> <!-- /container -->

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./js/lib/jquery-1.11.1.min.js"></script>
		<script src="./js/lib/bootstrap-3.2.0.min.js"></script>
    <script src="./js/explore.js"></script>
    <script type="text/javascript">
            

    </script>
  </body>
</html>
