<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dawoon LIM">

		<link rel="shortcut icon" type="image/x-icon" href="img/tree.ico">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/tree-128-128.png">
    <title>Tree</title>

    <!-- Bootstrap CSS -->
   <!--  <link rel="stylesheet" type="text/css" href="css/bootstrap-3.2.0.min.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme-3.2.0.min.css" /> -->

    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

    <!-- Custom styles for this template -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

        
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/bootstrap-3.2.0.min.js"></script>
  </body>
</html>
